name: Deploy Yew site

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust (nightly + wasm target)
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-11-07
          target: wasm32-unknown-unknown
      - run: cargo install trunk

      - name: Build Yew App
        run: trunk build --release --dist ./dist --public-url /stepvisualizer/

      - name: Upload build artifact
        uses: actions/upload-artifact@v5
        with:
          name: app-dist
          path: ./dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v5
        with:
          name: app-dist
          path: ./dist
      
      #? I guess we need to cheat 404 errors
      - name: Copy index.html to 404.html
        run: cp ./dist/index.html ./dist/404.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
